@font-face {
    font-family: 'Santral';
    src: url('../fonts/Santral/Santral-Light.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Santral';
    src: url('../fonts/santral-blackitalic/SantralBold.ttf');
    font-weight: 700;
}

body {
    font-family: 'Santral', sans-serif;
    font-size: 12px;
    margin: 20 0 20 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

[data-aos] {
    max-width: 100%;
    overflow: hidden;
}

/* Header css */
.header {
    background-color: #fff;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 50px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 50px 10px 50px;
    position: relative;
}

.right-nav {
    display: flex;
    align-items: center;
    gap: 15px;
}
.left-nav {
    display: flex;
    align-items: center;
    gap: 15px; 
    flex: 1; 
}
.left-nav a, .right-nav a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-center{
    flex-grow: 1;
    text-align: center;
    position: absolute; 
    left: 50%;
    transform: translateX(-50%); 
    z-index: 1; 
    width: auto;
}
.nav-center h1 {
    font-size: 30px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #000000;
    text-align: center;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap; 
}

/* .logo {
    height: auto;
    max-width: 50px;
} */

.bottom-nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.bottom-nav a {
    position: relative;
    color: #000000;
    text-decoration: none;
    margin-left: 25px;
    font-size: 16px;
    letter-spacing: 0.03em;
    padding-bottom: 3px;
    transition: .3s cubic-bezier(0, 0.5, 0, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.bottom-nav a::after {
    content: '';
    position: absolute;
    left: 0%;
    bottom: 0;
    width: 0%;
    height: 1px;
    background: #2a2a2a;
    transition: .3s cubic-bezier(0.74, -0.01, 0.26, 1.07);
}

.bottom-nav a:hover::after {
    width: 100%;
}

.searchform {
    position: relative;
    width: 35px;
    height: 35px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

.searchform input {
    width: 0;
    height: 35px;
    padding: 0;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    opacity: 0;
    transition: all 0.3s ease;
    background-color: #fff;
}

.searchform .fa-search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    z-index: 2;
    transition: all 0.3s ease;
    padding: 8px;
    border-radius: 50%;
    background-color: #f6f6f6;
}

.searchform:hover .fa-search {
    color: #7c5295; 
}

.searchform:hover {
    width: 200px;
}

.searchform:hover input {
    width: 100%;
    opacity: 1;
    padding: 0 40px 0 15px; 
}

.nav-icon {
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
    color: #000;
    text-decoration: none;
}
.searchform:hover .fa-search {
    right: 10px;
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        gap: 10px;
    }
    .nav-links {
        flex-wrap: wrap;
        gap: 10px;
        font-size: 12px;
    }
    .searchform:hover input {
        display: block !important;
        width: 150px;
        opacity: 1;
    }
    
    .nav-icon span {
        display: none; 
    }
}
.left-nav a, .right-nav a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: all 0.3s ease;
    padding: 8px;
    border-radius: 50%;
}

.left-nav a:not(.searchform):hover, .right-nav a:hover {
    color: #7c5295; 
    transform: translateY(-3px);
    background-color: rgba(246, 246, 246, 0.5);
}


.fa-home {
    transition: transform 0.3s ease;
}

.fa-home:hover {
    transform: rotate(10deg);
}

.fa-circle-exclamation {
    transition: transform 0.3s ease;
}

.fa-circle-exclamation:hover {
    transform: scale(1.15);
}

.fa-user {
    transition: transform 0.3s ease;
}

.fa-user:hover {
    transform: scale(1.15);
}

.fa-truck-fast {
    transition: transform 0.3s ease;
}

.fa-truck-fast:hover {
    transform: translateX(3px);
}

.fa-cart-shopping {
    transition: transform 0.3s ease;
}

.fa-cart-shopping:hover {
    transform: rotate(-10deg);
}

/* Footer */
footer {
    padding: 10px;
    background: #ccc;
    text-align: center;
}

.container {
    margin: auto;
    width: 100%;
    padding: 0 20px;
    max-width: 1240px;
    min-width: 984px;
    position: relative;
    background: #fff;
    display: block;
    align-content: center;
    flex: 1;
}

form {
    width: 33%;
    margin: 0 20px;
}
/*Index css*/
.slider{
    /* width: 1521px; */
    width: 99vw;
    height: 680px;
    /* height: 600px; */
    overflow: hidden;
    position: relative;
    display: block;
    margin: 100px auto 23PX auto;
}

.slides{
    width: 500%;
    height: 650px;
    /* height: 580px; */
    display: flex;
    background-color: #c3c6c1;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
    display: flex;
    justify-content: center;
}

.slide img{
    /* width: 1200px; */
    width: 1100px;
    height: 650px;
    /* height: 580px; */
    object-fit: cover;
}

.manual-nav{
    position: absolute;
    width: auto;
    top: 98%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.manual-btn{
    padding: 5px ;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 15px;
}
.manual-btn:hover{
    background: #000;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

.auto-nav{
    position: absolute;
    display: flex;
    width: auto;
    top: 98%;
    left: 50%;
    transform: translateX(-50%);
    gap: 5px;
}

.auto-nav div{
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    background-color: #dacfcf;
}

.auto-nav div:not(:last-child){
    margin-right: 15px;
}

#radio1:checked ~ .auto-nav .auto-btn1{
    background: #000;
}
#radio2:checked ~ .auto-nav .auto-btn2{
    background: #000;
}
#radio3:checked ~ .auto-nav .auto-btn3{
    background: #000;
}
#radio4:checked ~ .auto-nav .auto-btn4 {
    background: #000;
}

.banner-wrapper {
    width: 100%;
    height: 500px;
    display: block;
    overflow: hidden;
}

/* Index part 2 */
.index-category {
    padding: 60px 0;
    background: #f6f6f6ff;
}

.index-container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 100px;
    padding: 0 20px;
}

.cat-title {
    font-family: 'Santral', sans-serif;
    font-size: 28px;
    font-weight: 300;
    color: #2a2a2a;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 90px;
    letter-spacing: 0.1em;
}

.cat-title::before,
.cat-title::after {
    content: "";
    width: 60px;
    height: 1px;
    background: #b9b1b1;
    
}

.categories {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 0 40px;
}


.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 180px;
    text-decoration: none;
}

.circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #e0e0e0;
    transition: transform 0.3s ease;
    margin-bottom: 15px;
    margin-top: 10px;
}

.circle:hover {
    transform: scale(1.05);
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-btn {
    display: inline-block;
    padding: 8px 30px;
    background: #dbddd9;
    color: #2a2a2a;
    border-radius: 25px;
    font-size: 14px;
    letter-spacing: 0.08em;
    font-weight: 700;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.category-btn.gray {
    background: #f6f6f6;
    color: #666;
    border: 2px solid #e0e0e0;
}

.category-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    background: #2a2a2a;
    color: white;
}

.category-btn.gray:hover {
    background: #2a2a2a;
    color: white;
    border-color: transparent;
}

.category-btn:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
    .categories {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    
    .circle {
        width: 120px;
        height: 120px;
    }
    
    .cat-title {
        font-size: 22px;
    }
    .category-btn {
        padding: 6px 20px;
        font-size: 12px;
    }
}

/* Index part 3 */
.carousel-container {
    display: flex;
    gap: 400px;
    margin: 50px auto;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
  }
  
.image-section {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    width: 700px;
    height: 500px;
    /* margin-left: 100px; */
}
  
.slides-wrapper {
    position: relative;
    width: 100%;
    height: 500px;
}
  
.hover-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.6s ease;
    pointer-events: none;
}
  
.hover-slide.active {
    opacity: 1;
}
  
.hover-slide img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.text-section {
    margin-left: -200px;    
}
.section-title {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    color: #333;
    margin-top: 25px;
    margin-bottom: 35px;
}
  
.text-controls {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
 
.text-item {
    cursor: pointer;
}
  
.text-item p {
    color: #999;
    transition: color 0.3s ease;
    cursor: pointer;
    margin: 0;
    font-size: 15px;
    margin-bottom: 15px;
}
  
.text-item.active p {
    color: #000;
    font-weight: bold;
}
  
.text-item:hover p {
    color: #000;
    font-weight: bold;
}

/* Index part 4 */
.banner-wrapper {
    display: flex;
    min-height: 550px; 
    align-items: center;
    padding: 2rem 5%;
    background: #f6f6f6;
    max-width: 1369px;
    justify-content: space-between;
    margin: 0 auto;
}

.content-left {
    flex: 1;
    padding-right: 5%;
    max-width: 600px;
    justify-items: center;
}

.video-right {
    max-width: 600px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 30px rgba(0,0,0,0.1);
    height: 580px; 
}

.video-right video, 
.video-right iframe {
    width: auto;
    height: 100%;
    max-height: 580px; 
    object-fit: contain;
    background: #000;
}

.video-container-vertical {
    width: auto;
    height: 100%;
    max-width: 320px; 
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.content-left h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #000;
    margin-bottom: 5px;
    line-height: 1.2;
}

.content-left p {
    max-width: 500px;
    font-size: 17px;
    color: #666;
    margin-bottom: 2rem;
    word-spacing: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.cta-button {
    background: #d4af37;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.cta-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(212,175,55,0.3);
}

@media (max-width: 768px) {
    .banner-wrapper {
        flex-direction: column;
        min-height: auto;
    }
    
    .video-right {
        width: 100%;
        margin-top: 2rem;
        order: -1;
        height: 480px; 
    }
    
    .video-container-vertical {
        max-width: 270px; 
    }
    
    .content-left {
        text-align: center;
        padding: 0 5%;
    }
    
    .content-left h1 {
        font-size: 2.5rem;
    }
}

/*.drop-login {
    display: none;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: hidden;
}

.drop-login a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: background 0.3s ease;
}

.drop-login a:hover {
    background-color: #ddd;
}

.loginicon:hover .drop-login {
    display: block;
}*/

/* .product {
    display: inline-block;
    margin: 20px;
    padding: 15px;
    background: white;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 10px;
}
.product img {
    width: 200px;
    height: auto;
} */

/*Contact Page styles*/
.cont-slider{
    height: 100vh;
    width: 100vw;
    margin-top: -50px;
    position: relative;
    min-height: auto;
}
.cont-slider .list .cont-item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.cont-slider .list .cont-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont-slider .list .cont-item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top,  #535151 10%, transparent
    );
}
.cont-slider .list .cont-item .content{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
    color: #f6f6f6;
}
.cont-slider .list .cont-item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}

.cont-slider .list .cont-item .content h2{
    font-size: 60px;
    margin: 0;
    margin-bottom: 40px;
}

.cont-slider .list .cont-item .content p{
    font-size: 14px;
    margin: 0;
    margin-bottom: 40px;
}
.cont-slider .list .cont-item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.cont-slider .list .cont-item.active p:nth-child(1),
.cont-slider .list .cont-item.active h2,
.cont-slider .list .cont-item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.cont-slider .list .cont-item.active h2{
    animation-delay: 1s;
}
.cont-slider .list .cont-item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}
.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}
.arrows button:hover{
    background-color: #eee;
    color: black;
}
.thumbnail{
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .cont-item{
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .cont-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .cont-item.active{
    filter: brightness(1.2);
}
.thumbnail .cont-item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
}
@media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: start;
    }
    .slider .list .cont-item .content h2{
        font-size: 60px;
    }
    .arrows{
        top: 10%;
    }
}

/* Contact Us part 2 */
.aboutus {
    min-height: 100vh;
    max-width: 100vw;
    font-family: "Poppins", sans-serif;
    padding: 50px 5% 60px;
    justify-self: center;
    background: #f6f6f6;
}
.aboutus_title {
    font-size: 30px;
    color: #5a724a; 
    letter-spacing: 2px; 
    margin-bottom: 5px;
}
.aboutus_content {
    display: flex;
    flex-direction: column;
}

.aboutus_item {
    display: flex;
    align-items: center;
    gap: 25px; 
    width: 100%;
    padding: 50px 0;
    border-bottom: 1px solid #c3c6c1;
}

.aboutus_item img {
    width: 20%; 
    max-height: 180px; 
    object-fit: cover;
    border-radius: 8px; 
    box-shadow: 0 3px 10px rgba(0,0,0,0.08); 
}

.aboutus_text h3 {
    font-size: 1.5rem; 
    font-weight: 600;   
    color: #404040;   
    margin-bottom: 1rem;
    line-height: 1.4;
}

.aboutus_text p {
    font-size: 1rem;   
    color: #444;       
    line-height: 1.75;  
    margin-bottom: 1.25rem;
    font-weight: 300;  
}

/* Contact Us part 3 */
.contact-us {
    padding: 10px 0 70px;
    background: #f6f6f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.contact-container h1 {
    text-align: center;
    color: #2d2d2d;
    font-weight: 300;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    letter-spacing: 1px;
}

.contact-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: stretch; 
}

.cont-form {
    display: flex;
    flex-direction: column;
}
.cont-form-column{
    padding: 0 20px 20px 90px;
    border-right:1px solid #c3c6c1;
}

.expert h3 {
    color: #3a3a3a;
    font-weight: 400;
    font-size: 1.5rem;
    position: relative;
}
.cont-expert-input select{
    min-width: 370px;
}
.cont-form label {
    font-weight: bold;
    margin-top: 10px;
}

.cont-form input, 
.cont-form select {
    width: 350px;
    margin-top: 5px;
    padding: 8px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
}

.cont-phoneinput {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 350px; /* Total width must be 300px */
}
.phone-country-code select,
.phone-num input{
    display: flex;
}
.phone-country-code select {
    /* min-width: 20px;  */
    width: 120px !important;
    flex-shrink: 0; /* Prevent shrinking */
}
.phone-num input {
    flex-grow: 1;
    /* min-width: 50px;  */
    width: 220px !important;
    flex-shrink: 0;
}

.cont-formbuttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.cont-formbuttons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.cont-btn-primary {
    background: #6c757d;
    color: white;
    padding: 0.8rem 1.8rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
}
.cont-btn-secondary {
    background: transparent;
    color: #6c757d;
    border: 1px solid #e0e0e0;
    padding: 0.8rem 1.8rem;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cont-btn-secondary:hover,
.cont-btn-primary:hover {
    background: #5a6268;
    transform: translateY(-1px);
}
.cont-btn-secondary:hover{
    background: #fff;
    transform: translateY(-1px);
}

.contact-methods {

    padding: 2rem;

}

.contact-method {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
    margin-top: 40px;
    background: #f6f6f6;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.contact-method:hover {
    transform: translateX(10px);
    background: #c3c6c1;
}

.contact-method i {
    font-size: 1.5rem;
    color: #6c757d;
    width: 40px;
    text-align: center;
}

.contact-method a {
    color: #4a4a4a;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.contact-method a:hover {
    color: #2d2d2d;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .contact-columns {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    
    .cont-form-column,
    .contact-methods {
        padding: 1.5rem;
    }
    
    .contact-container h1 {
        font-size: 2rem;
    }
}

/* Contact Us part 4 */
.faq-container {
    max-width: 100vw;
    margin: 50px auto;
    padding: 35px 450px;
}

.faq-heading {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 40px;
    font-size: 30px;
}

.faq-item {
    background: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    border-bottom: 1px solid #c3c6c1;
}

.faq-item:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
.faq-question {
    padding: 20px 25px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    color: #000;
    font-size: 15px;
}

.faq-question::after {
    content: '\002B';
    font-size: 1.5em;
    color: #7f8c8d;
    transition: transform 0.3s ease;
}

.faq-answer {
    padding: 0 25px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    color: #666;
    line-height: 1.6;
}

.faq-item.active .faq-answer {
    padding: 0 25px 20px;
    max-height: 1000px;
}

.faq-item.active .faq-question::after {
    content: '\2212';
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    .faq-container {
        margin: 30px auto;
    }
    
    .faq-question {
        font-size: 16px;
        padding: 15px 20px;
    }
    
    .faq-answer {
        font-size: 14px;
    }
}

/* Contact Us part 5 */

.shop {
    display: flex;
    justify-content: center;
    padding: 50px 5%;
    background: #f5f5f5;
}

.shop-content {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
}

.map-text {
    flex: 1;
    text-align: left;
    color: #333;
    max-width: 300px;
}

.map-text h1,
.business-hours h1 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #2c3e50;
    margin-bottom: 15px;
}

.map-text p,
.business-hours p {
    font-size: 15px;
    color: #555;
    line-height: 1.6;
}

.map-container {
    flex: 2;
    display: flex;
    justify-content: center;
}

.map-container iframe {
    width: 100%;
    max-width: 500px;
    height: 400px;
    border-radius: 10px;
}


.business-hours {
    flex: 1;
    text-align: right;
    max-width: 300px;
}


@media (max-width: 900px) {
    .shop-content {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .map-text,
    .business-hours {
        text-align: center;
        max-width: none;
    }

    .map-container iframe {
        max-width: 100%;
        height: 300px;
    }
}

/* Registration page styles */
.registration-container {
    margin: auto;
    width: 70%;
    padding: 0 20px;
    max-width: 1240px;
    min-width: 984px;
    position: relative;
    background: #fff;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 10vh;
}

.registration-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
}

.form-group {
    display: block;
    position: relative;
    margin: 24px 0 0;
    padding-bottom: 8px;
    width:100%;
    max-width: 400px;
}

.form-label {
    position: absolute;
    color: #767676;
    cursor: text;
    top: 10px;
    left: 0;
    font-size: 1rem;
    backface-visibility: hidden;
    transition: 200ms ease-in-out;
    z-index: 0;
    transform-origin: left;
    pointer-events: none;
    font-size: 1em;
}

.form-input {
    display: block;
    width: 100%;
    position: relative;
    background-color: transparent;
    border: none;
    padding: 10px 0;
    font-size: 1rem;
    line-height: 1.5;
    min-width: 150px;
    color: #000;
    transition: border-bottom 1s cubic-bezier(0.25, 0.8, 0.5, 1);
    border-bottom: 1px solid #c1c1c1;
    height: 40px;
    box-sizing: border-box;
}

.form-input:focus {
    border-bottom: 1px solid #000;
    outline: none;
}

.form-input:focus + .form-label {
    top: -12px;
    left: 0;
    transform: none;
    font-size: 0.7rem;
}

.form-label.active {
    top: -12px;
    left: 0;
    font-size: 0.7rem;
}

.radio {
    padding: 5px 0;
    line-height: 25px;
}

fieldset {
    padding-top: 10px;
    margin-top: 20px;
}

.img-wrapper {
    padding-left: 15%;
    width: 50%;
}

.img-wrapper img {
    min-width: 1px;
    width: 100%;
    height: auto;
}

.submit-button {
    width: 100%;
    padding: 12px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    font-family: 'Santral', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 300ms cubic-bezier(0.25, 0.8, 0.5, 1);
}

.submit-button:hover {
    background-color: #ccc;
    color: #000;
}

.form-footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}


/* Product Page css*/

.product-page-container {
    margin: 120px auto;
    width: 100%;
    padding: 0 20px;
    max-width: 1240px;
    min-width: 984px;
    position: relative;
    background: #fff;
    display: block;
    align-content: center;
    flex: 1;
}

.row-container{
    margin: auto;
    width: 100%;
    padding: 40px;
    max-width: 1240px;
    min-width: 984px;
    position: relative;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column-container {
    margin: auto;
    display: flex;
    flex: 1;
    min-width: 22%;
    box-sizing: border-box;
    justify-content: center;
}

.product-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0px 0px 3px #b9b1b1;
    border-radius: 2px;
    justify-content: space-between;
    align-items: center;
    min-height: 250px;
    height: 100%;
}

.prod-description {
    line-height: 25px;
    letter-spacing: normal;
    text-align: justify;
    max-width: 19em;
    min-height: 5em;
    flex-grow: 1;
}

.prod-description p{
    font-size: 15px;
    font-family: 'Santral', sans-serif;
    margin: 0;
    color: #000000;
}

.prod-price {
    display: flex;
    margin: auto;
    border: 1px solid #b9b1b1;
    justify-content: space-between;
    align-items: center;
    width: 18em;
    padding: 10px;
}

.price, .view-details {
    font-family: 'Santral', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #2a2a2a;
}

.price {
    white-space: nowrap; 
    flex-grow: 1;
    min-width: 50px;
    padding-left: 5px;
}

img.product-image {
    width: 20em;
    height: auto;
    object-fit: cover;
    border-bottom: 3px solid #f6f6f6;
}

/* Product Hover Effect */
.product {
    text-decoration: none;
    transition: transform 0.1s ease-in-out;
}

.product.hovered {
    transform: scale(1.02);
}

.close:hover {
    transform: scale(1.2);
}

/* Product Details Modal CSS*/
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.modal.show {
    opacity: 1;
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 30px;
    width: 700px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    transform: scale(0.8);
    transition: transform 0.3s ease-in-out;
}

.modal.show .modal-content {
    transform: scale(1);
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.modal img {
    max-width: 100%;
    height: auto;
}

.add-to-cart, .cancel {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.add-to-cart {
    background-color: #dacfcf;
    border-radius: 5px;
    color: #000000;
    border: 2px outset #f6f6f6;
    display: flex;
}

.wrap-product-detail {
    display: flex;
    flex-direction: row;
    align-items: left;
    min-height: 340px;
}

.product-detail-img {
    width: 30em;
    height: 30em;
}

/* Product Details - Main Image Styling */
.main-image-container {
    text-align: center;
    margin-bottom: 10px;
}

#modal-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    border: 3px solid #f6f6f6;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Product Details - Preview Images */
.preview-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.preview {
    width: 60px;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #f6f6f6;
}

.preview:hover {
    transform: scale(1.1);
}

.preview.active {
    border: 2px solid #b9b1b1;
    transform: scale(1.1);
    opacity: 1;
}

.preview:not(.active) {
    opacity: 0.7;
    transform: scale(0.95);
}

/* Product details & add to cart button container */
.product-detail-button {
    width: 50%;
    height: 50px;
    padding: 0px 30px;
}

.product-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 20px;
    letter-spacing: normal;
    text-align: justify;
    min-height: 250px;
}

#modal-desc {
    font-size: 15px;
    min-height: 100px;
}

/* Scroll to Category*/
html {
    scroll-behavior: smooth;
}

.category-spacer {
    position: relative;
    top: -150px; 
    visibility: hidden;
}

.admin-body {
    background-color: #f8f9fa;
}

.admin-header {
    background-color: #343a40;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.admin-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-logo h1 {
    margin: 0;
    font-size: 24px;
}

.admin-user {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logout-btn {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #dc3545;
    transition: background-color 0.2s;
}

.logout-btn:hover {
    background-color: #c82333;
}

.admin-container {
    display: flex;
    min-height: calc(100vh - 140px);
}

.admin-sidebar {
    width: 250px;
    background-color: #212529;
    color: white;
    padding: 20px 0;
}

.admin-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.admin-sidebar li {
    margin-bottom: 5px;
}

.admin-sidebar a {
    display: block;
    padding: 10px 20px;
    color: #adb5bd;
    text-decoration: none;
    transition: 0.3s;
}

.admin-sidebar a:hover {
    color: white;
    background-color: #2c3237;
}

.admin-sidebar i {
    margin-right: 10px;
    width: 20px;
    text-align: center;
}

.admin-main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.admin-footer {
    text-align: center;
    padding: 15px;
    background-color: #343a40;
    color: white;
}

.product-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.image-preview-item {
    background-color: #f8f9fa;
    border-radius: 4px;
    padding: 5px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 15px;
}